<igx-grid [data]="northwindSwaggerCustomerDto" primaryKey="customerId" [rowEditable]="true" [allowFiltering]="true" filterMode="excelStyleFilter" (rowEditDone)="rowEditDoneGrid($event)" class="grid">
  <igx-column field="customerId" dataType="string" header="customerId" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="companyName" dataType="string" header="companyName" [filterable]="true" [sortable]="true" required="true" [maxlength]="100" [selectable]="false"></igx-column>
  <igx-column field="contactName" dataType="string" header="contactName" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
  <igx-column field="contactTitle" dataType="string" header="contactTitle" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
  <igx-column field="address.street" dataType="string" header="address street" [filterable]="true" [sortable]="true" [maxlength]="100" [selectable]="false"></igx-column>
  <igx-column field="address.city" dataType="string" header="address city" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
  <igx-column field="address.region" dataType="string" header="address region" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
  <igx-column field="address.postalCode" dataType="string" header="address postalCode" [filterable]="true" [sortable]="true" [maxlength]="20" [selectable]="false"></igx-column>
  <igx-column field="address.country" dataType="string" header="address country" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
  <igx-column field="address.phone" dataType="string" header="address phone" [filterable]="true" [sortable]="true" pattern="^\+?[1-9]\d{1,14}$" [selectable]="false"></igx-column>
  <igx-action-strip>
    <igx-grid-pinning-actions></igx-grid-pinning-actions>
    <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
  </igx-action-strip>
</igx-grid>
